/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.zip
codecanyon-28292342-grow-project-management-crm-with-invoicing-estimates-leads-and-tasks.zip